body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
#map{
    height: calc(100% – 106px) !important;
    width: 100%;
    height: 83%;
    height: -moz-calc(100% - 106px);
    height: -webkit-calc(100% - 106px);
}
.navbar{
    background-color: #009490 ;
    min-height: 100px;
    box-shadow: 0 2px 4px 0 black; 
    
}
.nav-link{
    color:#004e59;
      
}
.nav-link:hover{
    color:#004e59;
}
.logo-brand{
    min-height: 60px;
    max-height: 80px;
}
.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
th{
    color: #004E59;
    
}
tr:nth-child(even) { 
    background-color: #C7D8C6;
} 

tr:nth-child(odd) {
    background-color: #EFD9C1; 
}
table{
    border-radius: 30px;
    
}
.th-1{
    background-color: #009490;
    border-radius: 20px;
    padding: 10px;
    width: 100px !important;
}
.tabla{
    width: 200px !important;
    height: 200px;
    z-index: 1000;
    position:absolute!important;
    left:150px;
    font-size: small;
    display: none;
}
.tabla-weather{
    width: 200px !important;
    height: 200px;
    z-index: 1000;
    position:absolute!important;
    left:150px;
    font-size: small;
    display: none;
}
.tabla-information{
    width: 200px !important;
    height: 200px;
    z-index: 1000;
    position:absolute!important;
    left:150px;
    font-size: small;
    display: none;
}
.tabla-currency{
    width: 200px !important;
    height: 200px;
    z-index: 1000;
    position:absolute!important;
    left:150px;
    font-size: small;
    display: none;
   
}
table .tabla-currency{
    z-index: 1000;
    position:absolute!important;
}
.map table{
    top:100px;
    left: 5%;
    right: 0;
    bottom: 0;
}
#map{
    position: relative!important;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    }
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
    }
#inlineFormCustomSelect{
    z-index: 1000;
    position:absolute!important;
    height: 50px;
    width: 200px;
    
 
}
select {
    top:20px;
    left:10%;
    right: 0;
    bottom: 0;
}
@-webkit-keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
 @keyframes animate-preloader {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
    }
@media (max-width: 767px){
    .icon-btn{
        display: none;
    }
}

@media (min-width: 768px) {  
    .tabla{
        width: 400px !important;
        height: 400px;
        z-index: 1000;
        position:absolute!important;
        left:200px;
        font-size: medium;
        display: none;
          
    }
    .map table{
        top:20px;
        left:10%;
        right: 0;
        bottom: 0;
    }
    .tabla-weather{
        width: 400px !important;
        height: 400px;
        z-index: 1000;
        position:absolute!important;
        left:200px;
        font-size: medium;
        display: none;
    }
    .tabla-information{
        width: 400px !important;
        height: 400px;
        z-index: 1000;
        position:absolute!important;
        left:200px;
        font-size: medium;
        display: none;
    }
    .nav-link{
        color:#004e59;
        font-size: larger;
    }
        
#weather-btn{
    position: fixed;
    top: 250px;
    left: 30px; 
    z-index: 1000;
}
#currency-btn{
    position: fixed;
    top: 350px;
    left: 30px; 
    z-index: 1000;
}
#information-btn{
    position: fixed;
    top: 450px;
    left: 30px; 
    z-index: 1000;
}
#inf-button{
    height: 70px;
    width:70px;
}
#weather-button{
    height: 70px;
    width:70px;
}
#currency-button{
    height:70px;
    width:70px;
}
button{
    background-color:transparent !important; ;
    border: 0px;
    border-radius: 20px;
}
}
@media (min-width: 992px) {
       
.map table{
    top:100px;
    left: 10%;
    right: 0;
    bottom: 0;
}
#weather-btn{
    position: fixed;
    top: 210px;
    left: 30px; 
    z-index: 1000;
}
#currency-btn{
    position: fixed;
    top: 310px;
    left: 30px; 
    z-index: 1000;
}
#information-btn{
    position: fixed;
    top: 410px;
    left: 30px; 
    z-index: 1000;
}
#inf-button{
    height: 70px;
    width:70px;
}
#weather-button{
    height: 70px;
    width:70px;
}
#currency-button{
    height:70px;
    width:70px;
}
button{
    background-color:transparent !important; ;
    border: 0px;
    border-radius: 20px;
}
 }